<h1>Please look at these images, and answer the question below:</h1>
<div class="float-double">
<p>Original:</p>
      <%= image_tag @past_scene.image_url.to_s %>
</div>
<div class="float-double">
<p>New:</p>
      <%= image_tag @scene.image_url.to_s %>
</div>

<p>
<b>Describe the appearance and location of the object that was added in the new picture.</b>
</p>
