<table width="100%">
  <tr>
    <td width=50%>
      <%= image_tag @past_scene.image_url(:thumb).to_s %>
    </td>
    <td width=50%>
      <%= image_tag @scene.image_url(:thumb).to_s %>
    </td>
  </tr>
</table>

<p>
Describe the appearance and location of the object that was added in the picture on the right.
</p>
