<h1>Please look at this image, and answer the question below:</h1>
<table class="float-single">
  <tr>
  <td>
      <%= image_tag @scene.image_url.to_s %>
    </td>
  </tr>
</table>

<b>Describe the appearance and location of the object in the picture.</b>
